div#root {
  left: 0;
  top: 0;
  position: absolute;
  background-color: #fff;
}
div.inspector div div {
  overflow: auto;
}
span.text {
  text-align: center;
  padding: 2px;
}

div.selected {
  border-color: yellow;
  border-width: 1px;
  border-style: solid;
}

div.editable {
  background: white;
}

.program {
  .selected button.selected {
    border-color: gold;
    border-width: 2;
    border-style: solid;
  }
}

button.selected {
  border-color: gold;
  border-width: 2;
  border-style: dotted;
}
button.selected.uneditable {
  border-color: grey;
  border-width: 2;
  border-style: dot;
}

// SVG
text {
  text-anchor: middle;
}

.inspector {
  float: right;
}

.inspector,
.controls {
  background-color: darkgrey;
}

.button {
  border-radius: 50%;
}

.blue-button {
  font-size: 1em;
  color: #ffffff;
  background: #3498db;
  border-radius: 4px;
  border: 1px solid #3498db;
  outline: none;
  border-bottom-color: #1970a9;
  border-top-color: #44a8eb;
  box-shadow: 0px 0px 4px rgba(0,0,0,0.3);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);

  &:hover {
    background: #3cb0fd;
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  }

  &:active {
    box-shadow: inset 0px 0px 12px rgba(0, 0, 0, 0.3);
  }
}

.render_svg[class^="render_svg stat"] {
  position: absolute;
  left: 35px;
  top: 23px;
}

.controls {
  button {
    @extend .blue-button;
  }
}

// Command buttons

.commands {
  button {
    @extend .blue-button;
    text-transform: capitalize;
  }
}

// Program Actions

.actions button {
  font-size: 0;
}

// ICONS

.icon-button {
  font-family: FontAwesome;
  font-size: 14px;
  display: block;
}

.right:before {
  @extend .icon-button;
  content: "";
}

.left:before {
  @extend .icon-button;
  content: "";
}

.forward:before {
  @extend .icon-button;
  content: "";
}

.reverse:before {
  @extend .icon-button;
  content: "";
}

.wait:before {
  @extend .icon-button;
  content: "";
}

