$basic-padding:   5px;
$header-bg-color: #fafafa;
$control-bg-color: darken($header-bg-color, 10%);
$selected-color: gold;

* {
  box-sizing: border-box;
}

div#root {
  left: 0;
  top: 0;
  position: absolute;
  background-color: $header-bg-color;
  color: lighten(#000, 10%);

  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

// page title
.page_title-0 > .name,
.page_title-0-0 > .name {
  font-weight: 200;
  font-size: 1.6em;
  margin: 0.2em 5px;
  display: block;
  text-align: center;
}

// level name

.page_title-0-0 > .name {
  font-size: 1.4em;
  font-weight: normal;
}

.header {
  text-align: center;

  div {
    padding: $basic-padding;
  }

  .Level.of {
    margin-right: 0.3em;
  }

  .level_progress {
    border-top: 1px solid $control-bg-color;
    font-size: 1.1em;
  }

  .stats {
    > span {
      margin-right: $basic-padding * 5;
    }
  }
}

.done_dialog {
  display:    none;
  text-align: center;

  .stars {
    font-family: FontAwesome;
    font-size:   2.4em;
    color:       gold;
  }

  button {
    @extend .blue-button;
    padding: $basic-padding * 2;
    margin:  $basic-padding;
  }

  .hint {
    font-size: 0.7em;
  }
}

// Share button
@import 'share';

.share-button {
  margin: $basic-padding * 3 auto;
}

.grid svg g {
  transition: all 0.2s;
}

.inspector {
  padding: $basic-padding;
  background: $control-bg-color;

  div {
    margin-bottom: 10px;
  }

  .stat {
    background-color: lighten($control-bg-color, 6%);

    .sprite {
      svg {
        margin-top: 7px;
        height: 32px;
        width:  32px;
      }
    }

    div {
      display:        inline-block;
      float:          left;
      line-height:    1.4em;
      text-align:     center;
      padding:        $basic-padding;
      margin:         $basic-padding;
      text-transform: capitalize;

      .key {
        font-weight: bold;
        display: block;
      }

      .value {
        font-size:  1em;
        text-align: center;
        max-width:  50px;
      }
    }

    &:after {
      content: ' ';
      clear: both;
      display: block;
      font-size: 1px;
    }
  }

  .commands {
    button {
      @extend       .blue-button;
      margin-right: $basic-padding;
      font-size:    0.8em;
      width:        60px;
      height:       50px;
    }
  }

  // a program
  .program > div {
    padding:          $basic-padding;
    background-color: darken($header-bg-color, 7%);
    border:           2px solid transparent;
    transition:       all 0.2s;

    &.selected {
      background-color: $header-bg-color;
    }

    &.editable {
      border: 2px solid $selected-color;

      .program_name {
      }
    }

    &.run .program_name:before {
      content: "";
      font-family: FontAwesome;
      margin-right: $basic-padding;
    }

    &.bump .program_name:before {
      content: "";
      font-family: FontAwesome;
      margin-right: $basic-padding;
    }

    .program_name {
      text-transform: capitalize;
      cursor:         pointer;
    }

    .actions {
      $button-height: 48px;
      min-height: $button-height;

      button {
        font-size:        0;
        margin-right:     $basic-padding;
        outline:          none;
        background-color: lighten(darkred, 4%);
        color:            white;
        border:           none;
        height:           $button-height;
        width:            $button-height;

        &.selected {
          border-color: $selected-color;
          border-width: 2px;
          border-style: dotted;

          &.uneditable {
            border-color: grey;
          }
        }
      }
    }
  }
}

.controls {
  padding: $basic-padding;
  background: $control-bg-color;

  button {
    @extend .blue-button;
    margin-right:     $basic-padding;
    width:            90px;
    height:           60px;
    font-size:        1em;
  }
}

// SVG
text {
  text-anchor: middle;
  font-family: sans-serif;
  font-weight: 100;
  text-shadow: 1px 1px black;
  fill:        white;
}

.blue-button {
  text-transform:   capitalize;
  border:           none;
  outline:          none;
  background-image: linear-gradient(to bottom, #fefefe, #f0f0f0);
  border-radius:    4px;
  border:           1px solid #ccc;
  transition:       all 0.2s;

  &:hover {
    background-image: linear-gradient(to bottom, #fff, #fafafa);
    box-shadow:       0px 0px 2px rgba(0, 0, 0, 0.2);
  }

  &:active {
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
}

/*
 * ICONS
 *
 * To add an icon
 * - copy one of the icons with your new class
 * - find the appropriate icon at http://fortawesome.github.io/Font-Awesome/cheatsheet/
 * - copy and paste the character as `content:`
 */

.icon-button {
  font-family: FontAwesome;
  font-size: 14px;
  display: block;
  margin: 3px 0;
}

button {
  &.right:before {
    @extend .icon-button;
    content: "";
  }

  &.left:before {
    @extend .icon-button;
    content: "";
  }

  &.forward:before {
    @extend .icon-button;
    content: "";
  }

  &.reverse:before {
    @extend .icon-button;
    content: "";
  }

  &.wait:before {
    @extend .icon-button;
    content: "";
  }

  &.reload:before {
    @extend .icon-button;
    content: "";
  }

  &.run:before {
    @extend .icon-button;
    content: "";
  }

  &.stop:before {
    @extend .icon-button;
    content: "";
  }

  &.step:before {
    @extend .icon-button;
    content: "";
  }

  &.edit:before {
    @extend .icon-button;
    content: "";
  }

  &.run:before {
    @extend .icon-button;
    content: "";
  }

  &.bump:before {
    @extend .icon-button;
    content: "";
  }

  &.rewind:before {
    @extend .icon-button;
    content: "";
  }

  &._victory:before {
    @extend .icon-button;
    content: "";
  }
}
