div#root {
  left: 0;
  top: 0;
  position: absolute;
  background-color: #fff; }

div.inspector div div {
  overflow: auto; }

span.text {
  text-align: center;
  padding: 2px; }

div.selected {
  border-color: yellow;
  border-width: 1px;
  border-style: solid; }

div.editable {
  background: white; }

.program .selected button.selected {
  border-color: gold;
  border-width: 2;
  border-style: solid; }

button.selected {
  border-color: gold;
  border-width: 2;
  border-style: dotted; }

button.selected.uneditable {
  border-color: grey;
  border-width: 2;
  border-style: dot; }

text {
  text-anchor: middle; }

.inspector {
  float: right; }

.inspector, .controls {
  background-color: darkgrey; }

.button {
  border-radius: 50%; }

.blue-button, .controls button, .commands button {
  font-size: 1em;
  color: #ffffff;
  background: #3498db;
  border-radius: 4px;
  border: 1px solid #3498db;
  outline: none;
  border-bottom-color: #1970a9;
  border-top-color: #44a8eb;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9); }
  .blue-button:hover, .controls button:hover, .commands button:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db); }
  .blue-button:active, .controls button:active, .commands button:active {
    box-shadow: inset 0px 0px 12px rgba(0, 0, 0, 0.3); }

.render_svg[class^="render_svg stat"] {
  position: absolute;
  left: 33px;
  top: 15px; }

.commands button {
  text-transform: capitalize; }

.actions button {
  font-size: 0; }

.icon-button, .right:before, .left:before, .forward:before, .reverse:before, .wait:before {
  font-family: FontAwesome;
  font-size: 14px;
  display: block; }

.right:before {
  content: ""; }

.left:before {
  content: ""; }

.forward:before {
  content: ""; }

.reverse:before {
  content: ""; }

.wait:before {
  content: ""; }
