div#root {
  left: 0;
  top: 0;
  position: absolute;
  background-color: #fff;
}

div.inspector div div {
  overflow: auto;
}
span.text {
  text-align: center;
  padding: 2px;
}

text {
  text-anchor: middle;
}

.inspector {
  float: right;
}

.program-name {
  font-size: 1.2em;
  color: white;
}

.inspector,
.controls {
  background-color: darkgrey;
}

.button {
  border-radius: 50%;
}

.command,
.control {
  background-color: azure;
  font-size: 1em;
}

.render_svg[class^="render_svg stat"] {
  position: absolute;
  left: 35px;
  top: 23px;
}
